<table border=1>
  <tr>
    <th>Task</th>
    <th>Luke Metz</th>
    <th>Morgan Zhu</th>
    <th>Michael Ninh</th>
    <th>Keely Haverstock</th>
  </tr>
  <tr>
    <td>Contextual analysis </td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Project Brief</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Inspirational Design</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Maintaining Website </td>
    <td>100</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  <tr>
    <td>Revised Project Brief</td>
    <td>20</td>
    <td>-</td>
    <td>40</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Needs analysis</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Interaction Flow</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Design Development</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
    <td>25</td>
  </tr>
  <tr>
    <td> Online prototype </td>
    <td> 65 </td>
    <td> 15 </td>
    <td> 15 </td>
    <td> 5 </td>
  </tr>
  <tr>
    <td> Instructions </td>
    <td> 20 </td>
    <td> 20 </td>
    <td> 30 </td>
    <td> 30 </td>
  <tr>
    <td>Presentation + prep </td>
    <td> 12.5 </td>
    <td> 35 </td>
    <td> 40 </td>
    <td> 12.5 </td>
  </tr>
  <tr>
    <td> Design refinement </td>
    <td> 35 </td>
    <td> 10 </td>
    <td> 35 </td>
    <td> 20 </td>
  </tr>
</table>

