<div class="box">
  <h3> Our Work </h3>
    <ul>
      <li><a href="#/inspiration">Inspiration</a></li>
      <li><a href="#/projectBrief">Project Brief</a></li>
      <li><a href="#/needs">Needs Analysis</a></li>
      <li><a href="#/designDevelopment">Design Development</a></li>
      <li><a href="heuristic.pdf">Heuristic Evaluation</a></li>
      <li><a href="#/heuristicFix">Heuristic Evaluation Follow-up</a></li>
      <li><a href="#/designRefine">Design Refinement</a></li>
      <li><a href="#/usability">Usability Study</a></li>
      <li><a href="#/finalWrite">Final Refinement</a></li>
      <li><a href="#/breakdown">Labor Breakdown</a></li>
      <li><a href="#/onlinePrototype">Online Prototype</a></li>
    </ul>
  <p>
</div>
