<div class="box">
  <h2>Inspiration</h2>
  <p>
  Inspiration can be found everywhere!
  For a more in-depth discussion click the links bellow:
  </p>
  <p>
  <a href="#/inspiration/codeAcademy">Code Academy</a> By Luke Metz
  <br>
  <a href="#/inspiration/maps">Google Maps for Mobile</a> By Morgan Zhu
  <br>
  <a href="#/inspiration/dayOne">Day One</a> By Michael Ninh
  <br>
  <a href="#/inspiration/calendar">Calendar</a> By Keely Haverstock
  <br>
  </p>
  </p>
  </p>
  <ul>
    <li><b>Outlook/Google Calendar:</b> Potential set-up to display scheduling and availability.</li>
    <li><b>AdAstra:</b> The existing system. A lot of it is awful but some features, such as images of the room, are useful.</li>
    <li><b>Going to a room and looking:</b> How things were done and the most natural way to get information on a room.</li>
    <li><b>Room designing/CAD software:</b> These programs allow users to explore a room virtually.</li>
    <li><b>Pandora:</b> Uses a tagging system to group similar types of music.</li>
    <li><b>Youtube:</b> Provides recommendations for users. Also a potential implementation of time-based browsing a la scrubbing through a video.</li>
    <li><b>Facebook:</b> Allows users to continue scrolling through a timeline.</li>
    <li><b>Amazon:</b> Browse under existing categories or search and specify attributes —> easy to transfer from browsing to buying.</li>
    <li><b>Gmail:</b> Central view of useful information. Shows you everything, quick interface to write email and be done. Heads up notifications.</li>
    <li><b>Guidebook app:</b> Shows information for just one thing at a time. Hierichal browsing for information which may be applied to sorting rooms.</li>
    <li><b>Google maps (mobile):</b> Search for things and see how they are laid out spatially and quickly pick location and navigate to it. Also provides zooming from abstract to actual photos.</li>
    <li><b>Chrome webstore:</b> Nice type ahead search to suggest apps for the user.</li>
    <li><b>Gmail Android interface:</b> Slide to delete and provides a temporary undo button rather than prompting.</li>
    <li><b>Github:</b> Shows what happened with time. Flow back in time. Nice tutorial at the top to show how to use it.</li>
    <li><b>Gmail:</b> Uses an overlay tutorial which can be hidden or revealed at any time.</li>
    <li><b>iOS7:</b> Provides a walkthrough to both set-up the phone and highlight new features which may be frequently used.</li>
    <li><b>Post-it notes:</b> Easy to reorder information, can give nice physical way of looking at information. Allows users to define their own organization scheme.</li>
    <li><b>Olin Launchpad:</b> Search feature filters things automatically.</li>
    <li><b>Elevator buttons:</b> Clearly labeled buttons -> one-to-one mapping of information and function.</li>
    <li><b>whenisgood:</b> Scheduling app with very fast interface to quickly select lots of times. Allows users to quickly determine what times are available for everyone. </li>
    <li><b>Doodle:</b> Horizontal view of time vs vertical. Shows other users using the system well.</li>
    <li><b>iCals:</b> Automatically puts event data into a calendar and provides reminders.</li>
    <li><b>CodeAcademy:</b> Immediate feedback while typing and when editing code. Interactive overlay to provide additional explanations.</li>
    <li><b>Galaxy S3:</b> Includes a small indicator LED that changes colours to show new messages.</li>
    <li><b>Mobile Gmail:</b> Easy accessing and reading emails from several different email accounts on the go.</li>
    <li><b>Audacity:</b> Music editor which shows multiple tracks on top of each other. A potential implementation to display availability of multiple rooms.</li>
    <li><b>Evernote:</b> Syncs collaborative notes for multiple users. Alerts users to changes.</li>
    <li><b>Vending machines:</b> Direct mapping of function and outcome.</li>
    <li><b>Venmo:</b> Very simple interface for sending money. Provides feedback to both senders and receivers and allows a transaction to be initiated from either party (payments and charges).</li>
  </ul>
  <br class="clearfix" />
</div>
<br class="clearfix" />
