<div class="box">
  <h2>Inspiration</h2>
  <p>
  Inspiration can be found everywhere!
  For a more in-depth discussion click the links bellow:
  </p>
  <p>
  <a href="#/inspiration/codeAcademy">Code Academy</a> By Luke Metz
  <br>
  <a href="#/inspiration/maps">Google Maps for Mobile</a> By Morgan Zhu
  <br>
  <a href="#/inspiration/dayOne">Day One</a> By Michael Ninh
  <br>
  </p>
  </p>
  </p>
  <ul>
    <li><b>Outlook/ Google Calendar:</b> easily viewing the schedule of things</li>
    <li><b>AdAstra:</b> The existing system. A lot of it is awful but some features, such as images of the room are useful.</li>
    <li><b>Going to a room and looking:</b> How things were done and the most natural way to get information</li>
    <li><b>Room designing/ cad software:</b> These software let users really get a feel for a room.</li>
    <li><b>pandora:</b> Tagging music with attributes</li>
    <li><b>Youtube:</b> Recommended for you. Easy scrubbing through time.</li>
    <li><b>Facebook:</b> Bothers you a lot on email for events and sutch. Easy to scroll through indefinitely.</li>
    <li><b>Amazon:</b> Browse under existing categories or search and specify attributes —> easy to transfer from browsing to buying</li>
    <li><b>Gmail:</b> Central view of useful information. Shows you everything, quick interface to write email and be done. Heads up notifications.</li>
    <li><b>Guidebook app:</b> Shows information for just one thing. Easy to browse + category.</li>
    <li><b>Google maps (mobile):</b> Search for things and see how they are laid out spatially and quickly pick location and navigate to it. Also zooming from abstract to actual photos</li>
    <li><b>Chrome webstore:</b> Nice type ahead search. Categories on the side.</li>
    <li><b>Gmail Android interface:</b> Slide to delete, instead of prompting leave an undo button there for a little while.</li>
    <li><b>Github:</b> Shows what happened with time. Flow back in time. Nice tutorial at the top to show how to use it.</li>
    <li><b>Gmail:</b> Nice overlay on top to show you how to do things.</li>
    <li><b>iOS7:</b> Here is how everything new works walkthrough.</li>
    <li><b>Post it notes:</b> Easy to reorder information, can give nice physical way of looking at information. Organizable.</li>
    <li><b>Olin Launchpad:</b> Search feature filters things automatically</li>
    <li><b>Elevator Buttons:</b> Clearly labeled buttons -> where you know what they do.</li>
    <li><b>When is Good:</b> Very fast interface to quickly select lots of times. Better than a calendar popup.</li>
    <li><b>Doodle:</b> Horizontal view of time vs vertical. Shows other users using the system well.</li>
    <li><b>ICals:</b> Easy to share events/ data.</li>
    <li><b>Code Academy:</b> Immediate feedback while typing and when editing html and such. Some activities and submit button on others. Interactive overlay to see what is going on.</li>
    <li><b>Galaxy s3:</b> Minimal color based alerting for the physical world.</li>
    <li><b>mobile Gmail:</b> easy accessing & reading emails from several different email accounts on the go.</li>
    <li><b>Audacity:</b> easy editing and altering of music</li>
    <li><b>Evernote:</b> lots of a data organized in a nice manner</li>
    <li><b>Pintrest:</b> lots of content organized and displayed in an asthetically pleasing way</li>
    <li><b>Vending machines:</b> easy to use, a-b results</li>
    <li><b>iOS not 7:</b> easy to use, intuitive, pleasing</li>
    <li><b>Venmo:</b> easy to use, im not going to lose my money</li>
  </ul>
  <br class="clearfix" />
</div>
<br class="clearfix" />
