<h2>Interaction flow</h2>
<img class="image aligntop" src="images/interaction/interaction-flow.jpg" width="70%" height="70%" alt="" />
<p>
Based on our user needs, we constructed a preliminary model of our website. The following interaction flow describes how users might navigate the site throughout the process of reserving a room.
</p>

<img class="image aligntop" src="images/interaction/homepage.jpg" width="70%" height="70%" alt="" />
<p>
We wanted our home page to easily direct users to the information they cared about. In order to accommodate both modes of reservation, we include two large buttons to help users either directly look up the schedule of a room or to find a room that accomodates their schedule. The Your Current Events panel allows users to quickly check on the status of their reservation as well as cancel events with one click. If they have just completed a request form, a message will appear in order to confirm the submission. The Upcoming Events panel displays featured events and also includes a search function to check the time and location of an event.
</p>

<img class="image aligntop" src="images/interaction/find-a-time.jpg" width="70%" height="70%" alt="" />
<p>
For this page, we took inspiration from a number of calendar applications. Both approved and tentative reservations are highlighted on the week-long schedule. Time slots can be selected either by clicking and dragging or manually entering in the time in the text field.
</p>

<img class="image aligntop" src="images/interaction/find-a-room.jpg" width="70%" height="70%" alt="" />
<p>
For users who need to find a room, we present a list of all available room at a time specified by a user. Users may select items on the sidebar in order to filter the results. The results may also be sorted by clicking on a column heading within the list. If no rooms perfectly meet a user’s needs, the list instead shows rooms which almost meet the specifications. Each list item will include a note indicating which features could not be accommodated.
</p>

<img class="image aligntop" src="images/interaction/request-form.jpg" width="70%" height="70%" alt="" />
<p>
After the user successfully selects either a time or a room, they are taken the request submission page, where basic information such as event name, contact, and privacy level is filled in. They may also review their request on this page before completing the request.
</p>

<img class="image aligntop" src="images/interaction/history.jpg" width="70%" height="70%" alt="" />
<p>
The history page can be accessed from the homepage. A key feature of this page is the ability to favorite locations. A starred location will appear at the top of the list when looking for a room.
</p>
