<div class="box">
  <h2>Prototype</h2>
  <p> Our prototype can be found : <a href="http://wasabihfid.herokuapp.com/">http://wasabihfid.herokuapp.com/</a>. Note this might take up to a minute to load.</p>
  <p> Currently supported browsers: Chrome (small bugs with zindex for firefox)</p>
  <h2> Instructions </h2>


  <p> The goal of the room reservation system is to allow communities to manage shared resources in an organized and efficient manner. </p>

  <p> Its primary function is to allow users to identify a suitable location to hold an event, and to reserve it at a desirable time. Some users also need to schedule multiple, recurring events, which is a long-term planning process, and we have designed the room reservation process to be responsive to this need, which includes the flexibility to change a reservation if plans are altered.  In addition, our interface seeks to simplify the process of canceling a reservation request. It also simplifies the ability to check the existence of public events for a particular date or set of dates, as some users may wish to coordinate their reservation plans with this information</p>

  <p> Our prototype assumes that a user has already logged in at the home page. Currently, Sam is logged in.  Users can check the availability of all suitable locations, or inquire as to a specific a location, at the start of the reservation. Scheduled public events for the reservation date  the user is contemplating are displayed on the right sidebar of the home page. The user’s scheduled reservations are displayed at the bottom of the page with an option provided to cancel each item listed.</p>

  <p> While some of the reservation information the system provides is modeled after Olin, the room options are invented and do not correlate to actual rooms.</p>

  <p> Most of the system appears functional, but there are specific areas where data is hardcoded and fixed despite what a user enters. These instances are provided as examples of what the system will be able to do, once we implement the functionality.</p>

  <p> The other piece of software our system doesn’t include is polite room entry. Currently these fields are represented as text boxes. Our ideal implementation will have a type-a-head and allow for rooms that go by multiple names, such as, for example,  the Crescent Room.</p>

  <p> To explore the functionality of our system, try the following tasks:</p>

  <ol>
    <li>You have plans to show a movie  sometime this month. Schedule a room in the AC with an LCD projector at 8 p.m. for 2 hours.</li>
    <li>Book CC 100 for this coming Wednesday,  for 3 hours for a SCOPE meeting.</li>
    <li>Delete a ‘reservation’ that you had scheduled previously.</li>
    <li>Schedule a weekly meeting in AC109 every Wednesday for 4 weeks.</li>
    <li>Reserve a time in AC 109 on Tues from 11/12 - 12/3 when the room is mostly free. Try 9:30AM - 10:30AM. Skip any conflicts.</li>
  </ol>

</div>
<br class="clearfix" />
