<div class="box">
  <h2> Project Brief</h2>
<p>This project is about creating a campus room reservation system for small to midsized colleges.</p>

<p>Presently, both schools-- Olin and Babson -- use a system called AdAstra. We have conducted our first rounds of contextual inquiries with students, faculty and staff and learned that almost all of our interviewees expressed frustrations. Most found it difficult to navigate, with too many clicks needed to accomplish a certain task, too time consuming, and not all that informative. We seek to create a new registration system that people enjoy and find helpful.</p>

<p>Our team has selected this problem because we feel that the current room system presents  difficulty experienced by a substantial amount of users. We will also have easy access to a large user base as these problems affect large amounts of students, faculty and staff.</p>

<p>Our team has determined that users that interact with the room reservation system only have two goals:</p>
<ul>
  <li>to reserve a room at the college for a gathering or assembly of some kind</li>
  <li>to cancel said reservation</li>
</ul>

<p>This means that all of the users will be interacting with the system in a very similar and straightforward way: book it or cancel it.</p>

<p>There are three potential users in this project: faculty, staff, and students. As a member of one of the user groups, we feel our standing allows for a greater depth of investigation as we, ourselves, are well familiar with the frustration of the current registration system. We are, however, well aware of potential bias, which we will mitigate by seeking data from many users outside of our project team.  We will be particularly sensitive to the feedback we receive in our interviews and refrain from interjecting or substituting our own experience or opinion.</p>

<p>Our vision is to create a system so efficient and appealing that a user feels empowered to jump right in and accomplish his or her goal. To achieve this vision, our solution has to provide:</p>
<ul>
  <li>ease of use, which will allow the user to know exactly what steps to take to complete his goal</li>
  <li>the ability to reserve a specific room at a specific time</li>
  <li>the ability to find out when and where other campus events are taking place</li>
  <li>the ability to cancel a room reservation</li>
  <li>tight integration between availability and the creation of a room reservation</li>
  <li>the ability to allow users to fill out a room request and have a coordinator handle the reservation</li>
  <li>the ability to look for a room virtually and be acquainted with all its features</li>
  <li>a pleasant and quick experience for all users</li>
</ul>

<p>Our solution which promotes quick and efficient use is bound to please our users and build confidence in the system.  Once the stress and frustration of room reservation is removed, people will be more likely to use the system on a day-to-day basis. Keeping the site current is an important part of attracting first-time and returning users.</p>

<p>In order to meet our project requirements, we will be using a number of different design processes and create design artifacts. So far, we have already conducted several rounds of contextual inquiries and created some task models.</p>

<p>While we are far from actually designing the interface itself, we know we want to set up the system to work closely with the 3 mental models we found: users who care about a specific day and time, users who care about a specific room, and finally users who are unselective as to either time or place. While the current system does not differentiate between the goals of these three types of users, our system will address and individualize the registration process, which will add greatly to user satisfaction.</p>

<p>Finally, our team decided to not use personas. Although many projects can benefit from personas, our team feels that as pretty much all the users of this system have the same straightforward goal in mind, our users’ life experiences will not affect how the user will want to interact with the system.</p>
<br class="clearfix" />
</div>
