
<div class="box">
  <h2>Inspiration: Outlook/Google Calendars</h2>
  <p>
  By Keely Haverstock
  </p>
  <img class="image aligntop" src="images/calendar/calendar.png" width="70%" height="70%" alt="" />
  <p>
In our interviews many of our users said that they would like to see the overall schedule of each
room. Currently that information is presented in an awkward list of times that the room is busy.  With
the information displayed that way it is hard to get a complete picture of the room use – this makes
planning where you will have multiple meetings for a project difficult.
  </p>
  <p>
Outlook calendars provide a visual picture for time and what amount of it is scheduled and when.  It
allows you to feel how crowded your schedule is and if you have any buffer time between meetings.
This information would be useful when applied to room reservations because if a meeting were to go
overtime, knowing if there was a meeting that immediately followed would help you to be respectful of
the people that reserved the room after you.
  </p>
  <img class="image aligntop" src="images/calendar/adastra_output.png" width="70%" height="70%" alt="" />

  <br class="clearfix" />
</div>
